* {
  margin: 0;
  padding: 0; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #3d3f3ff3; }

ul li {
  list-style-type: none;
  text-decoration: none; }

.menu {
  background-color: #fcfafa; }
  .menu nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    list-style-type: none;
    color: #3d3f3ff3;
    font-family: 'Balthazar', serif;
    font-size: 25px;
    letter-spacing: 1px; }
    .menu nav ul li {
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      padding: 5px; }
    .menu nav ul li:hover .subm {
      display: block;
      position: absolute;
      background-color: #fcfafa;
      z-index: 10;
      border-style: dotted; }
  .menu .subm {
    display: none; }

.subm {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  justify-content: space-evenly; }
  .subm li {
    padding-top: 1px; }

.navbar-nav {
  float: left;
  margin: 0;
  left: 50%;
  transform: translatex(-50%);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fcfafa; }
  .navbar-nav li a {
    margin-left: 20px;
    margin-right: 20px; }
  .navbar-nav .navbar-nav--menuOpciones {
    transition: transform .3s; }
  .navbar-nav .navbar-nav--menuOpciones:hover {
    transform: scale(1.2); }
  .navbar-nav .navbar-nav--subMenu:hover {
    background-size: auto; }

.log {
  font-family: 'Cinzel Decorative', cursive;
  color: #3d3f3ff3;
  font-size: 40px;
  display: inline;
  letter-spacing: 6px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px; }

body {
  background-color: #fcfafa; }

video {
  width: 100%;
  height: 50%;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 100px;
  background-size: cover;
  opacity: 50%; }

.cuento {
  font-family: "Balthazar";
  color: #3d3f3ff3;
  font-size: 20px;
  width: 60%;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 30px;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .cuento .cuento__foto {
    width: 800px;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-style: groove; }

.stock {
  background-color: #e7e9eb;
  background-image: linear-gradient(to bottom, #e7e9eb, #fcfafa);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  color: #3d3f3ff3;
  font-family: 'Balthazar', serif;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
  grid-template-areas: "stock__productos1 stock__productos2 stock__productos3 stock__productos4" "stock__productos5 stock__productos6 stock__productos7 stock__productos8"; }
  .stock .stock--productosFotos {
    transition: transform .5s; }
  .stock .stock--productosFotos:hover {
    transform: scale(1.2); }
  .stock .stock__productos1 {
    grid-area: stock__productos1; }
  .stock .stock__productos2 {
    grid-area: stock__productos2; }
  .stock .stock__productos3 {
    grid-area: stock__productos3; }
  .stock .stock__productos4 {
    grid-area: stock__productos4; }
  .stock .stock__productos5 {
    grid-area: stock__productos5; }
  .stock .stock__productos6 {
    grid-area: stock__productos6; }
  .stock .stock__productos7 {
    grid-area: stock__productos7; }
  .stock .stock__productos8 {
    grid-area: stock__productos8; }
  .stock .stock__img {
    display: block;
    text-align: center;
    align-self: center; }
  .stock .stock--productosFotos {
    display: block;
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 280px;
    height: 250px;
    border-style: groove;
    margin-top: 60px; }

.encabezadoChango .encabezadoChango__titulo {
  font-family: "Balthazar";
  color: #3d3f3ff3;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 5px;
  letter-spacing: 3px; }

.encabezadoChango .encabezadoChango__chango {
  margin-top: 100px;
  margin-bottom: 10px;
  width: 15%;
  opacity: 25%;
  border-radius: 30px; }

.pedidosOnline {
  font-family: 'Balthazar', serif;
  color: #3d3f3ff3;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 100px;
  line-height: 50px;
  letter-spacing: 1px;
  word-spacing: 2px; }

.short {
  width: 40px;
  margin-left: 2px;
  margin-right: 2px; }

.formularioCentrado, .formularioContacto {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  line-height: 30px; }
  .formularioCentrado select, .formularioContacto select {
    font-size: 22px; }
  .formularioCentrado label, .formularioContacto label {
    font-size: 22px; }
  .formularioCentrado input, .formularioContacto input {
    margin: 3px; }

.bottCompra, .compraSi, .compraNo {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
  width: 90px;
  height: 60px; }

.compraSi {
  background-color: #f6faf3; }

.compraNo {
  background-color: #fcf7f7; }

.carrito {
  opacity: 70%;
  border-bottom-style: hidden;
  width: 60%; }

label {
  color: #3d3f3ff3;
  font-family: 'Balthazar', serif;
  font-size: 15px; }

.grupoCards {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
  width: 80%; }
  .grupoCards .card-img {
    width: 100%;
    opacity: 50%;
    border-radius: 5px;
    background-color: #fcfafa; }
  .grupoCards .text-center {
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border: 0px;
    line-height: 40px; }
    .grupoCards .text-center .card-title {
      font-size: 22px;
      line-height: 40px;
      font-family: 'Balthazar', serif;
      color: #3d3f3ff3;
      margin-top: 20px; }
    .grupoCards .text-center .card-text {
      font-size: 20px;
      margin: 2px;
      font-family: 'Balthazar', serif;
      color: #3d3f3ff3; }
    .grupoCards .text-center .table--stars {
      width: 40%;
      opacity: 40%;
      border-radius: 5px; }

.animate__jackInTheBox {
  animation-duration: 2s;
  animation-name: animate__jackInTheBox; }

@keyframes animate__jackInTheBox {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.tituloContacto {
  font-family: "Balthazar";
  color: #3d3f3ff3;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 3px; }

.encabezados {
  font-family: "Balthazar";
  color: #3d3f3ff3;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 1px;
  letter-spacing: 3px;
  text-align: center; }

input {
  color: #555757f3;
  font-family: 'Balthazar', serif;
  font-size: 15px;
  word-spacing: 1px;
  width: 100px; }

input {
  transition: all 2s; }

input:focus {
  font-size: 25px; }

.other {
  color: #555757f3;
  width: 200px; }

.redes .redes--red {
  opacity: 40%;
  border-bottom-style: hidden;
  width: 5%;
  margin-bottom: 80px; }

.containerGral, .formularioContacto {
  background-color: #e7e9eb;
  background-image: linear-gradient(to bottom, #e7e9eb, #fcfafa);
  width: 100%; }

.carousel-control-prev-icon {
  background-color: rgba(95, 94, 90, 0.205);
  padding: 1px; }

.carousel-control-next-icon {
  background-color: rgba(95, 94, 90, 0.205);
  padding: 1px; }

.carousel-item__fotoCar {
  width: 800px;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 30px;
  border-style: groove;
  margin-left: 20%; }

.textCar {
  font-family: "Balthazar";
  color: #3d3f3ff3;
  font-size: 20px;
  width: 60%;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 30px;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%; }

footer {
  color: #3d3f3ff3;
  font-family: 'Balthazar', serif;
  letter-spacing: 3px;
  align-self: center;
  display: inline;
  text-align: center; }

@media screen and (max-width: 1200px) {
  .stock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "stock__productos1 stock__productos2 stock__productos3 stock__productos4"     "stock__productos5 stock__productos6 stock__productos7 stock__productos8";
    background-color: whitesmoke; }
    .stock .stock__img {
      display: inline-block;
      text-align: center;
      margin: 3%;
      margin-bottom: 60px;
      margin-top: 50px; }
      .stock .stock__img h4,
      .stock .stock__img p {
        font-size: 18px; }
    .stock .stock--productosFotos {
      display: block;
      width: 250px;
      height: 180px;
      margin: 2px;
      margin-top: 3px;
      margin-bottom: 8px; }
  .menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: 26px; }
    .menu nav ul li {
      margin-left: 1px;
      margin-right: 1px;
      padding: 2px; }
      .menu nav ul li .log {
        padding: 0px;
        font-size: 40px; }
  .encabezados,
  h1 {
    font-size: 26px; }
  h1,
  h2,
  h4,
  p {
    font-size: 22px; }
  .cuento {
    width: 90%; }
    .cuento .cuento__foto {
      width: 550px;
      height: 380px;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 20px; }
    .cuento p {
      font-size: 22px; }
  .container {
    margin-left: 5px; }
    .container .carousel-inner {
      display: block;
      text-align: center;
      justify-content: center;
      margin-left: 10%; }
      .container .carousel-inner .carousel-item__fotoCar {
        display: block;
        margin-left: 10%;
        margin-right: 15%;
        width: 600px;
        height: 400px; }
    .container .textCar {
      width: 90%;
      margin-left: 8%; }
      .container .textCar p {
        font-size: 22px; }
  .formularioContacto label {
    font-size: 22px; }
  .formularioContacto .botonesForm__bottCont {
    margin-top: 20px;
    font-size: 20px; }
  .tituloContacto {
    color: #3d3f3ff3;
    font-family: 'Balthazar', serif;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 40px;
    letter-spacing: 3px; }
  .formularioCentrado, .formularioContacto {
    margin-left: 5px;
    margin-top: 20px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__titulo, .formularioContacto .encabezadoChango .encabezadoChango__titulo {
      font-size: 22px;
      margin-top: 5px;
      margin-bottom: 5px;
      letter-spacing: 3px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__chango, .formularioContacto .encabezadoChango .encabezadoChango__chango {
      width: 280px;
      opacity: 25%;
      border-radius: 30px; }
    .formularioCentrado label, .formularioContacto label {
      font-size: 22px;
      margin: 2px; }
    .formularioCentrado select, .formularioContacto select {
      margin: 2px;
      font-size: 20px; }
    .formularioCentrado input, .formularioContacto input {
      margin: 2px;
      font-size: 20px; }
  .card-title {
    font-size: 25px; } }

@media screen and (max-width: 992px) {
  .stock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "stock__productos1 stock__productos2 stock__productos3 stock__productos4"     "stock__productos5 stock__productos6 stock__productos7 stock__productos8";
    background-color: whitesmoke; }
    .stock .stock__img {
      display: inline-block;
      text-align: center;
      margin: 3%;
      margin-bottom: 60px;
      margin-top: 50px; }
      .stock .stock__img h4,
      .stock .stock__img p {
        font-size: 18px; }
    .stock .stock--productosFotos {
      display: block;
      width: 190px;
      height: 140px;
      margin: 2px;
      margin-top: 3px;
      margin-bottom: 8px; }
  .encabezados,
  h1 {
    font-size: 26px; }
  h2,
  h4,
  p {
    font-size: 22px; }
  .cuento {
    width: 90%; }
    .cuento .cuento__foto {
      width: 550px;
      height: 380px;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 20px; }
    .cuento p {
      font-size: 22px; }
  .carousel {
    margin-left: 10%; }
    .carousel .carousel-inner {
      display: block;
      text-align: center;
      justify-content: center;
      margin-left: 10%; }
      .carousel .carousel-inner .carousel-item__fotoCar {
        display: block;
        margin-left: 10%;
        width: 480px;
        height: 350px; }
  .textCar {
    width: 90%;
    margin-left: 20%;
    display: block; }
    .textCar .textCar__p {
      font-size: 22px; }
  .formularioContacto label {
    font-size: 22px; }
  .formularioContacto .botonesForm__bottCont {
    margin-top: 20px;
    font-size: 20px; }
  .tituloContacto {
    color: #3d3f3ff3;
    font-family: 'Balthazar', serif;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 40px;
    letter-spacing: 3px; }
  .formularioCentrado, .formularioContacto {
    margin-left: 5px;
    margin-top: 20px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__titulo, .formularioContacto .encabezadoChango .encabezadoChango__titulo {
      font-size: 22px;
      margin-top: 5px;
      margin-bottom: 5px;
      letter-spacing: 3px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__chango, .formularioContacto .encabezadoChango .encabezadoChango__chango {
      width: 280px;
      opacity: 25%;
      border-radius: 30px; }
    .formularioCentrado label, .formularioContacto label {
      font-size: 22px;
      margin: 2px; }
    .formularioCentrado select, .formularioContacto select {
      margin: 2px;
      font-size: 20px; }
    .formularioCentrado input, .formularioContacto input {
      margin: 2px;
      font-size: 20px; }
  .card-title {
    font-size: 25px; } }

@media screen and (max-width: 768px) {
  .stock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    grid-template-areas: "stock__productos1 stock__productos2"     "stock__productos3 stock__productos4 " "stock__productos5 stock__productos6" "stock__productos7 stock__productos8";
    background-color: whitesmoke; }
    .stock .stock__img {
      display: inline-block;
      text-align: center;
      margin: 10%; }
    .stock .stock--productosFotos {
      display: block;
      width: 270px;
      height: 180px; }
  .menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: 24px; }
  .encabezados,
  h1 {
    font-size: 26px; }
  h2,
  h4,
  p {
    font-size: 20px; }
  .log {
    font-size: 35px;
    padding: 2px; }
  .cuento {
    width: 90%; }
    .cuento .cuento__foto {
      width: 450px;
      height: 330px;
      margin-left: 10%;
      margin-top: 20px;
      margin-right: 10%; }
    .cuento p {
      font-size: 20px; }
  .carousel-inner {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 10%; }
    .carousel-inner .carousel-item__fotoCar {
      display: block;
      margin-left: 10%;
      width: 450px;
      height: 300px; }
  .textCar {
    width: 90%;
    margin-left: 8%; }
    .textCar p {
      font-size: 20px;
      margin-left: 5px; }
  .tituloContacto {
    color: #3d3f3ff3;
    font-family: 'Balthazar', serif;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 3px; }
  .formularioCentrado, .formularioContacto {
    display: block;
    margin-left: 10px;
    margin-top: 20px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__titulo, .formularioContacto .encabezadoChango .encabezadoChango__titulo {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      letter-spacing: 3px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__chango, .formularioContacto .encabezadoChango .encabezadoChango__chango {
      width: 260px;
      opacity: 25%;
      border-radius: 30px; }
    .formularioCentrado label, .formularioContacto label {
      font-size: 18px; }
    .formularioCentrado select, .formularioContacto select {
      font-size: 18px; }
    .formularioCentrado input, .formularioContacto input {
      font-size: 18px; }
  .card {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left: 3%; }
    .card .card-img {
      width: 100%; }
    .card .text-center {
      font-family: 'Balthazar', serif;
      color: #3d3f3ff3;
      margin: 1%;
      text-align: center;
      justify-self: center;
      border: 0px; }
      .card .text-center .card-text {
        font-size: 16px;
        line-height: 2px; }
      .card .text-center .card-title {
        font-size: 20px; }
    .card .table--stars {
      width: 30%;
      opacity: 40%;
      border-radius: 2px;
      margin: 10px; }
  .redes--red {
    margin-top: 50px; } }

@media screen and (max-width: 480px) {
  .stock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    grid-template-areas: "stock__productos1 stock__productos2"     "stock__productos3 stock__productos4" "stock__productos5 stock__productos6" "stock__productos7 stock__productos8";
    background-color: whitesmoke; }
    .stock .stock__img {
      display: inline-block;
      text-align: center;
      margin: 8%; }
    .stock .stock--productosFotos {
      display: block;
      width: 150px;
      height: 100px; }
  .menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: 18px; }
  .encabezados {
    font-size: 16px; }
  h2,
  h4,
  h5,
  p {
    font-size: 13px; }
  .log {
    font-size: 30px;
    padding: 2px; }
  .cuento {
    width: 90%; }
    .cuento .cuento__foto {
      width: 290px;
      height: 200px;
      margin-left: 5%;
      margin-right: 5%; }
    .cuento p {
      font-size: 14px; }
  .textCar {
    width: 90%; }
    .textCar p {
      font-size: 14px; }
  .carousel-inner {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 5%; }
    .carousel-inner .carousel-item__fotoCar {
      display: block;
      margin-left: 15%;
      width: 290px;
      height: 200px; }
  .tituloContacto {
    color: #e7e9eb;
    font-family: 'Balthazar', serif;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 3px; }
  .formularioCentrado, .formularioContacto {
    display: block;
    margin: 2%; }
    .formularioCentrado .encabezadoChango .encabezadoChango__titulo, .formularioContacto .encabezadoChango .encabezadoChango__titulo {
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 5px;
      letter-spacing: 3px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__chango, .formularioContacto .encabezadoChango .encabezadoChango__chango {
      width: 170px;
      opacity: 25%;
      border-radius: 30px; }
  .drop {
    font-size: 16px; }
  .card {
    display: block;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin-left: 15%; }
    .card .card-img {
      width: 100%; }
    .card .text-center {
      font-family: 'Balthazar', serif;
      color: #3d3f3ff3;
      margin: 3%;
      text-align: center;
      justify-self: center;
      border: 0px;
      line-height: 7px; }
      .card .text-center .card-text {
        font-size: 14px;
        line-height: 5px; }
      .card .text-center .card-title {
        font-size: 16px; }
    .card .table--stars {
      width: 8%;
      opacity: 40%;
      border-radius: 4px;
      margin: 8px; }
  .redes--red {
    margin-top: 50px; } }

@media screen and (max-width: 320px) {
  .stock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 3px;
    grid-template-areas: "stock__productos1 stock__productos2"     "stock__productos3 stock__productos4" "stock__productos5 stock__productos6" "stock__productos7 stock__productos8";
    background-color: whitesmoke; }
    .stock .stock__img {
      display: inline-block;
      text-align: center;
      margin: 1%; }
    .stock .stock--productosFotos {
      display: block;
      width: 120px;
      height: 80px; }
  .menu nav ul {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: 14px; }
  .encabezados,
  h1 {
    font-size: 14px; }
  h2,
  h4,
  h5,
  p {
    font-size: 10px; }
  .log {
    font-size: 15px;
    padding: 2px; }
  .cuento {
    width: 90%; }
    .cuento .cuento__foto {
      width: 250px;
      height: 180px;
      margin-left: 5%;
      margin-right: 5%; }
    .cuento p {
      font-size: 12px; }
  .textCar {
    width: 90%; }
    .textCar p {
      font-size: 12px; }
  .carousel-inner {
    display: block;
    text-align: center;
    justify-content: center; }
    .carousel-inner .carousel-item__fotoCar {
      display: block;
      margin-left: 10%;
      margin-top: 30px;
      width: 200px;
      height: 160px; }
  .tituloContacto {
    color: #e7e9eb;
    font-family: 'Balthazar', serif;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 3px; }
  .formularioCentrado, .formularioContacto {
    display: block;
    margin: 2%; }
    .formularioCentrado .encabezadoChango .encabezadoChango__titulo, .formularioContacto .encabezadoChango .encabezadoChango__titulo {
      font-size: 16px;
      margin-top: 30px;
      margin-bottom: 5px;
      letter-spacing: 3px; }
    .formularioCentrado .encabezadoChango .encabezadoChango__chango, .formularioContacto .encabezadoChango .encabezadoChango__chango {
      width: 100px;
      opacity: 25%;
      border-radius: 30px; }
  .drop {
    font-size: 16px; }
  .card {
    display: block;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: 8%; }
    .card .card-img {
      width: 100%; }
    .card .text-center {
      font-family: 'Balthazar', serif;
      color: #3d3f3ff3;
      font-size: 12px;
      margin: 2%;
      text-align: center;
      justify-self: center;
      border: 0px;
      line-height: 5px; }
      .card .text-center .card-text {
        font-size: 12px;
        line-height: 5px; }
      .card .text-center .card-title {
        font-size: 14px; }
    .card .table--stars {
      width: 5%;
      opacity: 40%;
      border-radius: 4px;
      margin: 8px; }
  .redes--red {
    margin-top: 50px; } }
